<div class="text-white margin-bottom text-center">
  🛠 Tools to assist maintaining emulation software
  <div class="text-xs opacity-80">
    (mostly tailored for&nbsp;
    <a class="nowrap text-info"
      href="https://extremehomearcades.com/" style="color:#07e843"
      target="_blank"
      (click)="openAnchor($event)"
    >Extreme Home Arcade</a> owners)
  </div>
</div>

<div>
  <div class="text-center text-xs opacity-half">choose a tool below</div>
  
  <menu-stack-list [menu]="menu" class="flex-1 flex-center"></menu-stack-list>
</div>
