<h2>0.2.6 - 2-2023</h2>
<ul>
	<li>Allow app navigation even without selecting LaunchBox folder</li>
	<li>New LaunchBox detect duplicate ControllerSupport settings</li>
	<li>New ability to manage platforms that have no XInputs</li>
</ul>
			

<h2>0.2.0 - 2-2023</h2>
<ul>
  <li>MINOR: Background code of this app, switched over most all imperative coding practices into Rxjs declarative.</li>
  <li>Fix link from launchbox into XInput mapping</li>
  <li>Added a footer link to goto "📦 This apps download page"</li>
  <li>In LaunchBox Games when editing a single game, the --skip-ui argument for XInput is now a simple ☑️ check box</li>
  <li>LEDBlinky updates</li>
  <ul>
    <li>New input mapping area</li>
    <li>Light properties can now be edited</li>
    <li>Layout changes can now be saved</li>
    <li>can drag and drop layout lights</li>
    <li>can now drag and highlight multiple lights and then drag them</li>
    <li>layout area can now edit and save layout changes</li>
    <li>Controls area has many design enhancements</li>
    <li>Controls area has many editing features but still NOT ready for a save button</li>
  </ul>
</ul>
        
  
<h2>0.1.50 - 1-2023</h2>
<ul>
  <li>New LaunchBox detect backups needed area</li>
  <li>Adjusted ledblinky logic to generate correct color</li>
  <li>fixed changing ledblinky layout dropdown</li>
  <li>Added launchbox games filter by platform</li>
  <li>You can now jump from LEDBlinky game controls to LaunchBox game details</li>
</ul>

<h2>0.1.45 - 1-2023</h2>
<ul>
  <li>Added new area LEDBlinky controls</li>
  <li>Ability to delete XArcade controllers</li>
</ul>

<h2>0.1.41 - 1-2023</h2>
<ul>
  <li>Keyboard interface added platform filter</li>
  <li>Platform inputs add upload feature</li>
  <li>added changelog interface</li>
  <li>Make it more well know you can change XArcade file name</li>
</ul>

<h2>0.1.40 - 1-2023</h2>
<ul>
  <li>the specific game area was not saving manual text edits</li>
  <li>the backups helper was not navigating correctly</li>
  <li>you can now jump to backups from XInput areas</li>
  <li>fixed being able to preview a backup file</li>
  <li>added ability to preview a files changes that are about to be saved</li>
  <li>XInput interface has duplicates awareness now and warns you</li>
  <li>XInput now indicates buttons you have changed</li>
</ul>
