<div class="flex-wrap gap">
  <div *ngFor="let app of apps" class="flex2 flex-stacked bg-grey radius-top-10">
    <div class="bg-dark pad-xs radius-top-10">
      <strong>Name</strong>:&nbsp;
      <span *ngIf="app.details.type==='xinput'">🕹</span>
      <span *ngIf="app.details.type==='xinput-kill'">❌ 🕹</span>
      {{app.details.name}}
    </div>
    <div class="flex1">
      <div class="child-margin">
        <div class="flex-stacked gap-xxs">
          <div class="text-xxs bold">path</div>
          <span class="bg-dark pad-xxs" [(contentModel)]="app.details.applicationPath"
            (change)="applyAppApplicationPath(app)"
          ></span>
        </div>
        <div class="flex-stacked gap-xxs">
          <div class="text-xxs bold">commandLine</div>
          <div class="bg-dark pad-xxs text-small" [(contentModel)]="app.details.commandLine"
            (change)="applyAppCommandLine(app)"
          ></div>
        </div>
        <div *ngIf="app.details.type==='xinput'" class="flex-stacked gap-xxs">
          <div class="flex-wrap gap">
            <div class="flex1"
              title="Toggle if XInput app launches when this game launches. You typically DO not want the UI to load."
            >
              <div class="text-xxs bold">&nbsp;</div>
              <div class="bg-dark pad-xxs">
                <input type="checkbox"
                  [checked]="app.details.commandLine.includes('--skip-ui')"
                  (click) = "toggleAppSkipUi(app.details)"
                  name="skip-ui" id="skip-ui"
                />
                <label for="skip-ui"
                >&nbsp;--skip-ui</label>
              </div>
            </div>
    
            <div class="flex1">
              <div class="text-xxs bold">mapping</div>
              <xinput-app-map-select #xinputAppMapSelect
                class="flex width-full"
                [model]="app"
                [platform]="platform"
                [game]="game"
                (change)="save.emit()"
              ></xinput-app-map-select>
            </div>
          </div>
          <a *ngIf="session.launchBox.xarcadeDir" class="text-white text-xxs"
            [routerLink]="'../../🕹/xarcade-xinput/mapping/' + (xinputAppMapSelect.mapping ? xinputAppMapSelect.mapping +'.json' : '')"
          >🎮 goto xinput tools</a>
        </div>
      </div>
    </div>
    <div class="pad-xxs text-center">
      <button type="button" (click)="removeAppFromApps(app, apps);save.emit()"
        title="click to remove" class="bg-assertive"
      >🗑 delete</button>
    </div>
  </div>
</div>
