<ng-container *ngIf="session.launchBox.directory$ | async; else selectLaunchBox">
  <div *ngIf="!selected" [@fadeInOutUp]="1">
    <div class="flex-wrap gap">
      <div class="flex1">
        <div>🔎 Search games</div>
        <div>
          <input [(ngModel)]="searchText" (keyup)="trySearchGames(searchText)"
            class="width-full" placeholder="Search games. 3 characters required"
            [focusOn]="1"
          />
        </div>
      </div>
      <div>
        <div>Platform filter</div>
        <select (change)="performSearch(platformName=searchText)">
          <option value="">CHOOSE A PLATFORM</option>
          <option *ngFor="let platform of (session.launchBox.platformNames$ | async)" [value]="platform"
            [selected]="platform.toLowerCase()+'.xml' === platformName?.toLowerCase()"
          >{{ platform }}</option>
        </select>           
      </div>
    </div>
    
    <div [class.invisible]="!searching" class="flex-wrap flex-apart flex-valign-center">
      <loading-icon [show]="searching"></loading-icon>
      <span>Platfroms scanned: {{ platformsRead }}</span>
    </div>  
    
    <div *ngIf="searchGames.length">
      <div class="overflow max-height-600">
        <table cellPadding="4" cellSpacing="0" border="0"
          class="table-lines table-striped-dark width-full"
        >
          <tHead>
            <tr>
              <th (click)="sortSearchPlatform()" class="cursor-pointer">Platform</th>
              <th (click)="sortSearchGame()" class="cursor-pointer">Title</th>
            </tr>
          </tHead>
          <tBody>
            <tr *ngFor="let gameInsight of searchGames" class="cursor-pointer bg-hover-positive"
              (click)="showGame(gameInsight)"
            >
              <td class="pad-right-xs">{{gameInsight.platform.id}}</td>
              <td>
                {{gameInsight.game.details.favorite ? '⭐️ ' : ''}}
                {{gameInsight.game.details.title}}
              </td>
            </tr>
          </tBody>
        </table>
      </div>
      <div class="text-xs opacity-80 text-center">{{searchGames.length}} results</div>
    </div>
  </div>
  
  <div *ngIf="selected" [@fadeInUp]="1">
    <a class="pull-right" (click)="selected=undefined">🅧</a>
    <div>
      {{selected.game.platform.id}}
    </div>
    <h2>
      <a (click)="toggleFavorite(selected.game)">{{selected.game.game.details.favorite ? '⭐️ ' : '✩ '}}</a>
      {{selected.game.game.details.title}}
    </h2>
    <br />

    <div class="flex-wrap gap-xs">
      <button type="button" class="flex1"
        (click)="selected.view = selected.view === 'additional-apps' ? undefined : 'additional-apps'"
        [class.bg-energized] = "!selected.view || selected.view === 'additional-apps'"
      >📱 Additional Apps</button>

      <button type="button" class="flex1"
        (click)="selected.view = selected.view === 'controller-support' ? undefined : 'controller-support'"
        [class.bg-energized] = "selected.view === 'controller-support'"
      >🎮 Controller Support</button>

      <button type="button" class="flex1"
        (click)="selected.view === 'xml' ? undefined : viewSelectedGameXml(selected)"
        [class.bg-energized] = "selected.view === 'xml'"
      >🔬 XML</button>
    </div>

    <br />

    <div [@childStag50]="selected.view" [@fadeInOutUp]="1">
      <!-- xml -->
      <div *ngIf="selected.view === 'xml'" [@fadeInOutUp]="1">
        <textarea class="width-full" rows="24" wrap="off">{{ selected.xmlString }}</textarea>
      </div>

      <!-- controller support -->
      <div *ngIf="selected.view === 'controller-support'" [@fadeInOutUp]="1">
        <ng-container *ngIf="(selected.game.game.controllerSupports$ | async) as controllerSupports">
          <h3>{{controllerSupports.length}} Controller Supports</h3>
          <div class="pad text-warning bg-warning">
            🚧 Area is a work in progress
          </div>
          <div class="flex-center">
            <table cellPadding="4" cellSpacing="4" border="0" class="table-lines">
              <thead>
                <tr>
                  <td>Controller</td>
                  <td>Support Level</td>
                </tr>
              </thead>
              <tr *ngFor="let item of controllerSupports">
                <td>{{ item.details.controllerId }}</td>
                <td>{{ item.details.supportLevel }}</td>
              </tr>
            </table>
          </div>
        </ng-container>
      </div>

      <!-- additional apps -->
      <div *ngIf="!selected.view || selected.view === 'additional-apps'" [@fadeInOutUp]="1">
        <ng-container *ngTemplateOutlet="additionalAppsTemplate;context:{
          $implicit: selected.additionalApps$ | async,
          selected: selected
        }"></ng-container>
      </div>
    </div>

    <div class="opacity-60 text-xs flex-wrap gap">
      <div>
        platform xml path: {{selected.game.platform.file.directory.path}}/{{selected.game.platform.file.name}}
      </div>
      <a class="no-a-style" [routerLink]="'../../' + ledBlinkRouteMap.ledblinkyControls.path + '/' + selected.game.platform.id.split(' ').join('_') | uppercase"
        [queryParams]="{search:selected.game.game.details.title}"
      ><u>🚦LED Blinky</u></a>
    </div>
    
    <br />
    
    <button type="button" class="bg-dark flex1 width-full"
      (click)="selected = undefined"
    >🅧 CLOSE</button>
  </div>
  
  
  <div *ngIf="toSaveFiles.length" [@fadeInOutUp]="1">
    <button type="button" class="bg-balanced width-full"
      (click)="saveFiles()"
    >Save {{toSaveFiles.length}} Files</button>
  </div>
</ng-container>

<ng-template #selectLaunchBox>
  <select-launchbox></select-launchbox>
</ng-template>

<ng-template #additionalAppsTemplate let-additionalApps let-selected="selected">
  <h3>{{additionalApps.length}} Additional Apps</h3>
      
  <additional-apps-table
    [apps]="additionalApps"
    [platform]="selected.game.platform"
    [game]="selected.game.game"
    (save) = "saveSelectedGame()"
  ></additional-apps-table>
  
  <div class="flex-wrap margin-v gap-xs">
    <button type="button" class="bg-balanced flex1"
      (click)="addAppInto(additionalApps)"
    >+ADD APP</button>

    <button *ngIf="!selected.hasXinput" type="button" class="bg-balanced flex1"
      (click)="addXinputInto(additionalApps)"
    >🎮 +ADD XINPUT</button>

    <a type="button" routerLink="/🧰/↩" class="bg-calm"
      [queryParams]="{
        path:selected.game.platform.file.directory.path,
        file:selected.game.platform.file.name
      }"
    >↩️ FILE BACKUPS</a>

    <button *ngIf="(selected.hasXinput$ | async) as hasXinput"
      type="button" class="bg-assertive flex1"
      (click)="removeXinputFrom(selected, additionalApps)"
    >+REMOVE XINPUT</button>
  </div>
</ng-template>