<div class="text-right">
  <robust-select-directory label="🧰 LaunchBox"
    pickerId="LaunchBox"
    [reloadPath]="session.config.launchBox.path"
    [directoryManager]="$any(session.launchBox.directory$ | async)"
    (directoryManagerChange)="setDirectory($event);"
    (error)="session.error('could not load LaunchBox path', $event)"
  ></robust-select-directory>
</div>

<br />

<div *ngIf="!(session.launchBox.directory$ | async)" [@fadeInOutUp]="1">
  <br />
  <div class="text-center pad">
    ⬆️ Select LaunchBox folder above to unlock features
  </div>
  <br /><br />
  <details class="pad">
    <summary>📁 read more about this app and what it does with folder access</summary>
    <div class="bg-dark pad">
      <p>
        Once you select your LaunchBox folder, files will be read to offer helpful support.
      </p>      
      Such support features include:
      <ul>
        <li>Manage LEDBlinky</li>
        <li>Detect common issues</li>
        <li>Prevent BigBox wheel from disappearing</li>
        <li>Manage the LaunchBox tool XAracde XInput</li>
        <li>Detect important files having no or out of date backups</li>
        <li>and more...</li>
      </ul>
    </div>
  </details>
</div>

<div *ngIf="session.launchBox.directory$ | async" [@fadeInOutUp]="1">
  <div>
    <div class="text-center text-xs opacity-half">choose a tool below</div>

    <menu-stack-list [menu]="menu" class="flex-1 flex-center"
      btnClass="bg-positive"
    ></menu-stack-list>
  </div>
</div>