<select-launchbox></select-launchbox>

<div *ngIf="session.launchBox.directory$ | async"
  [@fadeInOutUp]="1"
>
  <div class="flex-wrap">
    <div class="flex1">
      <form class="flex-valign-center" (submit)="reload$.next( 1 )">
        <div class="pos-rel">
          <div class="pos-abs bottom-0 line-height-0 pad-left-xs">🔍</div>
        </div>
        
        <input type="text" class="pad-left-3x width-full" name="search$"
          [ngModel]="search$ | async" (ngModelChange)="search$.next($event)"
          maxLength="125" placeholder="Game Search"
        />

        <select name="platformName$" [ngModel]="platformName$ | async" (ngModelChange)="platformName$.next($event)">
          <option value="">Platform filter</option>
          <option *ngFor="let name of (session.launchBox.platformNames$ | async)"
            [value]="name"
          >{{ name }}</option>
        </select>

        <button type="submit">scan</button>
      </form>
    </div>
  </div>

  <div *ngIf="reload$ | async" [@fadeInOutUp]="1">
    <ng-container *ngTemplateOutlet="platformTable;context:{$implicit: platforms$ | async}"></ng-container>
  </div>
</div>

<ng-template #platformTable let-platforms>
  <table cellPadding="4" cellSpacing="4" border="0"
    class="table-lines bg-dark width-full"
  >
    <thead>
      <tr class="bg-grey">
        <th>platform</th>
        <th>games with duplicates</th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of platforms">
      <tr (click)="item.showGames = !item.showGames"
        class="hover-bg-calm cursor-pointer"
        [class.bg-energized]="item.showGames"
      >
        <td>{{ item.platform.name }}</td>
        <td>{{ item.gamesWithDups.length }}</td>
      </tr>
      <tr *ngIf="item.showGames" [@fadeInOutUp]="1" class="bg-black">
        <td colspan="2">
          <div class="flex-center flex-stacked">
            <h2>Games with duplicate controls</h2>
            <div class="max-height-800 overflow">
              <ng-container *ngTemplateOutlet="gamesTable;context:{$implicit: item.gamesWithDups, platform: item}"></ng-container>
            </div>
          </div>

          <div class="flex-wrap">
            <a type="button" routerLink="/🧰/↩" class="bg-calm flex1"
              [queryParams]="{
                path:item.platform.file.directory.path,
                file:item.platform.file.name
              }"
            >↩️ FILE BACKUPS</a>
          </div>
        </td>
      </tr>
    </ng-container>
    <tfoot>
      <tr class="bg-grey">
        <td colspan="2" class="text-center">
          <div *ngIf="!(session.loading$ | async);else loading" [@fadeInOutUp]="1">
            <div *ngIf="platforms?.length; else successDisplay">
              <button type="button" (click)="fixAllPlatforms(platforms)"
              >FIX ALL {{ platforms.length }} PLATFORMS</button>
            </div>
            <ng-template #successDisplay>
              ✅ No duplicate controller supports found
            </ng-template>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</ng-template>

<ng-template #loading>
  <div class="flex-wrap flex-apart flex-valign-center">
    <loading-icon [show$]="session.loading$"></loading-icon>
    <div class="text-xs text-right">
      <div>Platfroms scanned: {{ platformsRead }}</div>
      <div>{{ platformRead?.name }}</div>
    </div>
  </div>
</ng-template>

<ng-template #gamesTable let-games let-platform="platform">
  <table cellPadding="4" cellSpacing="4" border="0" class="bg-dark">
    <thead>
      <tr class="bg-grey">
        <th>title</th>
        <th>controller duplicates</th>
      </tr>
    </thead>
    <ng-container *ngFor="let game of $any(games | slice: (platform.page-1)*pagesize : platform.page*pagesize); index as i">
      <tr class="hover-bg-calm cursor-pointer"
        (click)="game.show = !game.show"
        [class.bg-energized] = "game.show"
      >
        <td>
          {{ $any(game.game$ | async)?.details.title }}
        </td>
        <td class="text-center">
          <button type="button"
            (click)="fixGame(game, platform)"
          >fix {{ game.controllers.length }}</button>
        </td>
      </tr>
      <tr *ngIf="game.show" [@fadeInOutUp]="1" class="bg-black">
        <td colspan="2">
          <div class="flex-center flex-stacked">
            <h2>Controller duplicates</h2>
            <ng-container *ngTemplateOutlet="controlTable;context:{$implicit:game.controllers, game:game, platform:platform}"></ng-container>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
  <div *ngIf="games.length > pagesize" class="bg-grey pad flex-wrap gap flex-valign-center">
    <button *ngIf="platform.page > 0" [@fadeInOutUp]="1"
      type="button" class="flex1"
      (click)="platform.page = platform.page - 1"
    >BACK</button>
    <div>Page {{ platform.page }}</div>
    <button *ngIf="platform.page < games.length / pagesize" [@fadeInOutUp]="1"
      type="button" class="flex1"
      (click)="platform.page = platform.page + 1"
    >NEXT</button>
  </div>
</ng-template>

<ng-template #controlTable let-controls let-game="game" let-platform="platform">
  <table cellPadding="4" cellSpacing="4" border="0" class="bg-dark">
    <thead>
      <tr class="bg-grey">
        <th>controllerId</th>
        <th>supportLevel</th>
        <th>duplicates</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let control of controls">
      <td>{{ control.control.details.controllerId }}</td>
      <td>{{ control.control.details.supportLevel }}</td>
      <td>{{ control.duplicates.length }}</td>
      <td>
        <button type="button"
          (click)="fixGameControl(game, control, platform)"
        >fix</button>
      </td>
    </tr>
  </table>
</ng-template>