<div *ngIf="(session.launchBox.directory$ | async) as directory; else selectLaunchBox" [@fadeInOutUp]="1"
  class="flex-stacked flex-center"
>			
  <ng-container *ngIf="(files$ | async) as files">
    <div class="flex-apart flex-wrap gap flex-valign-center">
      <div>Select a platform below to reveal more insights...</div>
      <div *ngIf="files.length">
        <button type="button"
          (click)="scanPlatforms(files)"
        >🔦 scan all</button>
      </div>
    </div>
    <table cellPadding="4" cellSpacing="4" border="0" class="table-lines bg-dark">
      <thead>
        <tr class="bg-grey">
          <th>platform name</th>
          <th>size</th>
        </tr>
      </thead>

      <ng-container *ngFor="let file of files">
        <tr class="hover-bg-energized cursor-pointer"
          [ngClass] = "file.stats.size > 634303590 ? 'bg-assertive' : file.stats.size > 211434530 ? 'bg-orange text-black' : ''"
          (click)="file.viewDetails = !file.viewDetails"
          [class.bg-energized]="file.viewDetails"
        >
          <td>
            <div class="flex-apart flex-valign-center flex-wrap">
              <span>{{ file.name }}</span>
              <span *ngIf="file.load" [@fadeInOutUp]="1"><loading-icon show="1"></loading-icon></span>
              <span *ngIf="
                file.xmlStats?.supportDupsFound ||
                file.xmlStats?.altNameDupsFound ||
                file.xmlStats?.addAppDupsFound
              " [@fadeInOutUp]="1">
                <div class="radius-half pad-h-xs bg-assertive text-white"
                  title="duplicate items found in this platform"
                >1</div>
              </span>
            </div>
          </td>
          <td>{{ ((file.stats.size || 0) / 1000 / 1000) | number : '1.0-2' }} MB</td>
        </tr>
        <tr *ngIf="file.viewDetails" [@fadeInOutUp]="1">
          <td colspan="2" class="bg-grey">
            <div *ngIf="file.percentRead" class="pad-bottom">
              <div class="pos-rel">
                <div class="pos-abs top-0 flex width-full">
                  <div class="flex1">
                    <div class="bg-positive overflow-hidden border-bottom-1 border-white"
                      [style.width.%]="file.percentRead"
                    ><div class="height-5"></div></div>
                  </div>
                  <div class="text-xxs">{{ file.percentRead | number : '1.0-1' }}%</div>
                </div>
              </div>
            </div>
            <!--
              <div *ngIf="!file.xmlStats" class="pos-rel" [@fadeInOutUp]="1">
                <div class="top-0 pos-abs animate__animated animate__heartBeat animate__infinite">Loading...</div>
              </div>
            -->
            
            <!-- greater than 600mb -->
            <div *ngIf="file.stats.size > 634303590" class="bg-assertive pad margin-xs"
            >This file is extraordinarily large</div>
            
            <!-- greater than 200mb -->
            <div *ngIf="file.stats.size <= 634303590 && file.stats.size > 211434530" class="bg-orange pad margin-xs"
            >This file is getting fairly large</div>

            <div *ngIf="file.xmlStats && file.xmlStats.gameControllerSupports > (file.xmlStats.games * 2)"
              class="bg-assertive pad margin-xs"
            >
              <div>You have twice as many controller supports as you do games, in this platform. This maybe a sign of an issue</div>
            </div>

            <div *ngIf="file.xmlStats?.supportDupsFound" class="bg-orange pad margin-xs">
              Some of your games have the same controller support multiple times.
              <div class="text-xs pad">
                If this number keeps increasing overtime, it is a sign of an issue.
              </div>
            </div>

            <div *ngIf="file.xmlStats?.altNameDupsFound" class="bg-orange pad margin-xs">
              Some of your games have the same alternate name multiple times.
              <div class="text-xs pad">
                If this number keeps increasing overtime, it is a sign of an issue.
              </div>
            </div>

            <div *ngIf="file.xmlStats?.addAppDupsFound" class="bg-orange pad margin-xs">
              Some of your games have the same additional application multiple times.
              <div class="text-xs pad">
                If this number keeps increasing overtime, it is a sign of an issue.
              </div>
            </div>
            
            <div>
              <div class="flex-wrap gap-xs">
                <div *ngIf="file.xmlStats?.games as games" [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-dark"
                >
                  <div class="text-xs">games</div>
                  <div class="text-xs"><strong>{{ games }}</strong></div>
                </div>

                <!-- additional apps -->
                <div *ngIf="file.xmlStats?.additionalApps as additionalApps"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-dark"
                >
                  <div class="text-xs">additional apps</div>
                  <div class="text-xs"><strong>{{ additionalApps }}</strong></div>
                </div>

                <div *ngIf="file.xmlStats?.addAppDupsFound as addAppDupsFound"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-orange"
                >
                  <div class="text-xs text-center">
                    <div>additional application</div>
                    duplicates
                  </div>
                  <div class="text-xs"><strong>{{ addAppDupsFound }}</strong></div>
                </div>

                <div *ngIf="file.xmlStats?.addAppDupsFixed as duplicatesFixed"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-balanced"
                >
                  <div class="text-xs text-center">
                    <div>additional application</div>
                    duplicates fixed
                  </div>
                  <div class="text-xs"><strong>{{ duplicatesFixed }}</strong></div>
                </div>

                <!-- alt names -->
                <div *ngIf="file.xmlStats?.alternateNames as alternateNames"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-dark"
                >
                  <div class="text-xs">alternate name</div>
                  <div class="text-xs"><strong>{{ alternateNames }}</strong></div>
                </div>

                <div *ngIf="file.xmlStats?.altNameDupsFound as altNameDupsFound"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-orange"
                >
                  <div class="text-xs">
                    <div>alternate name</div>
                    duplicates
                  </div>
                  <div class="text-xs"><strong>{{ altNameDupsFound }}</strong></div>
                </div>

                <div *ngIf="file.xmlStats?.altNameDupsFixed as duplicatesFixed"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-balanced"
                >
                  <div class="text-xs text-center">
                    <div>alternate name</div>
                    duplicates fixed
                  </div>
                  <div class="text-xs"><strong>{{ duplicatesFixed }}</strong></div>
                </div>

                <!-- supports -->
                <div *ngIf="file.xmlStats?.gameControllerSupports as gameControllerSupports"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-dark"
                >
                  <div class="text-xs">controller supports</div>
                  <div class="text-xs"><strong>{{ gameControllerSupports }}</strong></div>
                </div>

                <div *ngIf="file.xmlStats?.supportDupsFound as duplicatesFound"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-orange"
                >
                  <div class="text-xs text-center">
                    <div>controller support</div>
                    duplicates
                  </div>
                  <div class="text-xs"><strong>{{ duplicatesFound }}</strong></div>
                </div>

                <div *ngIf="file.xmlStats?.supportDupsFixed as duplicatesFixed"
                  [@fadeInOutUp]="1"
                  class="flex1 flex-stacked flex-center gap-xxs bg-balanced"
                >
                  <div class="text-xs text-center">support dups fixed</div>
                  <div class="text-xs"><strong>{{ duplicatesFixed }}</strong></div>
                </div>
                
                <!-- the read scan details are needed before fix dups can run -->
                <button *ngIf="file.xmlStats?.supportDupsFound || file.xmlStats?.altNameDupsFound"
                  class="flex1"
                  type="button" (click)="fixPlatformSupports(file)"
                  [disabled]="session.loading$ | async"
                  [class.bg-dark]="session.loading$ | async"
                  [class.opacity-half]="session.loading$ | async"
                >remove duplicates</button>

                <button type="button" (click)="scanPlatform(file)"
                  [disabled]="file.load" class="flex1"
                  [class.bg-dark]="file.load"
                  [class.opacity-half]="file.load"
                >🔦 scan</button>
                    
                <a routerLink="../../↩" type="button" class="flex1"
                  [queryParams]="{path:file.file.directory.path, file:file.file.name}"
                >↩️ backups</a>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </ng-container>
</div>

<ng-template #selectLaunchBox>
  <select-launchbox></select-launchbox>
</ng-template>
