/** must come before ack-css to allow overrides of [type=button] */
select, textarea, button, input, [type=button] {
  padding:.5vw;
  font-size:.9em;
  /** write each out below to allow for overrides */
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

[type=button].bg-royal { @extend .bg-royal }
[type=button].bg-orange { @extend .bg-orange }
[type=button].bg-stable { @extend .bg-stable }
[type=button].bg-assertive { @extend .bg-assertive }
[type=button].bg-energized { @extend .bg-energized }
[type=button].bg-positive { @extend .bg-positive }
[type=button].bg-balanced { @extend .bg-balanced }
[type=button].bg-calm { @extend .bg-calm }
[type=button].bg-info { @extend .bg-info }
[type=button].bg-dark { @extend .bg-dark }
[type=button].bg-grey { @extend .bg-grey }
[type=button].bg-success { @extend .bg-success }
[type=button].bg-grey-2x { @extend .bg-grey-2x }
[type=button].bg-grey-3x { @extend .bg-grey-3x }
[type=button].bg-grey-4x { @extend .bg-grey-4x }

button, [type=button] {
  @extend .bg-positive, .text-white, .text-center, .no-a-style;
  border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-width: .075rem;
  border-style: solid;
  padding:.6em;
  text-shadow:0 1px 0 rgba(0, 0, 0, .5);
}

button:hover, [type=button]:hover {
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow:none;
}

button:active, [type=button]:active {
  border-color: rgba(255, 255, 255, 0.8);
}

button.active, [type=button].active {
  text-shadow:0 2px 0 #000;
  /*font-weight: bold;*/
  border-color: rgba(255, 255, 255, 0.8);
}

/* You can add global styles to this file, and also import other style files */
@import "node_modules/ack-css-boot/scss/ack-css-boot"; // may require ../ ref
@import "animate.css/animate.min.css";


* {box-sizing:border-box;/*line-height:1.5em*/}
html, body{width:100%;height:100%;padding:0;margin:0}
html {scroll-behavior:smooth;font-size:calc(22px + .4vw)}
input[type="checkbox"], input[type="radio"] {width:1em;height:1em}
a, summary {cursor: pointer}

h1, h2, h3, h4 {
  margin-top: 0.1rem;margin-bottom: 0.1rem
}

select {
  color:black
}
