/* You can add global styles to this file, and also import other style files */
@import "node_modules/ack-css-boot/scss/ack-css-boot"; // may require ../ ref

* {box-sizing:border-box;/*line-height:1.5em*/}
html, body{width:100%;height:100%;padding:0;margin:0;}
html {scroll-behavior:smooth;font-size:calc(22px + .4vw);}
input[type="checkbox"], input[type="radio"] {width:1em;height:1em;}
select, textarea, button, input {padding:.5vw;border-radius:.5vw;font-size:.9em;}
summary {cursor: pointer;}

h1, h2, h3, h4 {
  margin-top: 0.1rem;margin-bottom: 0.1rem
}

select {
  color:black
}

a[type=button].bg-assertive { @extend .bg-assertive }
a[type=button].bg-positive { @extend .bg-positive }
a[type=button].bg-balanced { @extend .bg-balanced }
a[type=button].bg-calm { @extend .bg-calm }
a[type=button].bg-info { @extend .bg-info }

button, a[type=button] {
  @extend .bg-positive, .text-white, .pad-smx, .text-center, .no-a-style;
  border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-width: .075rem;
  border-radius: .5em;
  border-style: solid;
  padding:.6em;
  text-shadow:0 1px 0 rgba(0, 0, 0, .5);
}

button:hover, a[type=button]:hover {
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow:none;
}

button:active, a[type=button]:active {
  border-color: rgba(255, 255, 255, 0.8);
}

button.active, a[type=button].active {
  text-shadow:0 2px 0 #000;
  /*font-weight: bold;*/
  border-color: rgba(255, 255, 255, 0.8);
}

