<select-ledblinky-directory></select-ledblinky-directory>

<br />

<div *ngIf="session.ledBlinky.directory$ | async" [@fadeInOutUp]="1">
  <div class="flex-wrap gap">
    <div class="flex-valign-center pos-rel flex1">
      <span class="pad-xs">🔎</span>
      <input type="text"
        [ngModel]="search$ | async"
        (ngModelChange)="newSearch($event)" class="width-full"
        placeholder="Search emulators and roms" [focusOn]="1"
      />
      <div *ngIf="search$ | async" [@fadeInOutUp]="1" class="pos-abs right-0 pad-right-xxs">
        <a (click)="newSearch('')" class="text-black text-2x">🅧</a>
      </div>
    </div>

    <div class="flex-wrap gap">
      <button type="submit" (click)="showMaps = !showMaps"
      >{{ showMaps ? '☑️' : '◻️' }}&nbsp;🗺️ Show mappings</button>

      <button type="submit" (click)="unknownMode$.next( !unknownMode$.getValue() )"
      >{{ (unknownMode$ | async) ? '☑️' : '◻️' }}&nbsp;🤨 Unknown Games Mode</button>
    </div>
  </div>

  <ng-template #loadingIcon>
    <loading-icon class="pos-abs" show="1"></loading-icon>
  </ng-template>
  <br />

  <div>
    <!-- select emulator -->
    <div class="pad-h-xs" [class.bg-dark]="emulator$ | async">
      <div *ngIf="(emulator$ | async) as emulator" [@fadeInOutUp]="1">
        <div><strong>Emulator</strong></div>
        <!-- show selected emulator -->
        <div class="flex-wrap flex-1">
          <ng-container *ngTemplateOutlet="emulatorButton;context:{$implicit:emulator, selected: 1}"></ng-container>
        </div>
      </div>

      <!-- MAIN LOOP: list of emulators -->
      <div *ngIf="!(emulator$ | async)" [@fadeInOutUp]="1">
        <ng-container *ngIf="(filteredEmulators$ | async) as emus; else loadingIcon">
          <div>
            <strong>Select from {{emus.length}} Emulators</strong>
          </div>

          <div *ngIf="emus.length"
            class="gap-xxs flex-wrap flex1 overflow pad-top border border-red"

            forIntersectionObserver
            [array]="emus"
            [(arrayOut)]="emusOut"
            [style.max-height.vh]="80"
          >
            <ng-container *ngFor="let inter of emusOut">
              <ng-container *ngTemplateOutlet="emulatorButton;context:{$implicit:inter.item, show:inter.show}"></ng-container>
            </ng-container>
          </div>

          <div *ngIf="!emus.length" [@fadeInOutUp]="1">
            <br />
            <div class="bg-orange pad-xs width-full">
              🤷‍♂️ No emulators found matching search
            </div>
          </div>
          
          <br />
          
          <div class="flex-right">
            <a type="button" class="hover-bg-calm bg-balanced"
              onclick="newEmulatorModal.showModal()"
            >+ new emulator</a>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- select controlGroup -->
    <div *ngIf="(roms$ | async) as emulator" [@fadeInOutUp]="1" class="bg-dark pad-xs flex1">
      <div>
        Select from&nbsp;<strong>ROMs</strong><sup><small>&nbsp;{{ emulator.controlGroups.length }}</small></sup>
      </div>
      <div class="flex1 flex-wrap pad-top">
        <div class="flex-1 flex-wrap gap child-pad-xs overflow" [@childStag50]="emulator.controlGroups"

          forIntersectionObserver
          [array]="emulator.controlGroups"
          [(arrayOut)]="romsOut"
          [style.max-height.vh]="80"
        >
          <ng-container *ngFor="let item of romsOut">
            <ng-container *ngTemplateOutlet="romLink;context:{rom:item.item, emu: emulator, show: item.show}"></ng-container>
          </ng-container>          
        </div>

        <button type="button"
          onclick="createRomDialog.showModal()"
        >+ Create ROM</button>
      </div>
    </div>

    <ng-container *ngIf="(emulator$ | async) as emulator">
      <ng-container *ngIf="(search$ | async) as search">
        <br />
        <a class="no-a-style"
          (click)="showConfirmNewRom=true"
        >
          <button type="button"
          >✚ Add "{{ search }}" as a new ROM</button>
        </a>

        <ack-modal [(showModel)]="showConfirmNewRom" valign="center">
          <div class="bg-white radius-10 pad text-black">
            <p>🤔 Please confirm to add a new ROM configuration for:</p>
            <p><strong>Emulator:</strong> {{emulator.xml.details.emuname}}</p>
            <p><strong>ROM:</strong> {{search}}</p>
            <br />
            <div class="flex">
              <a type="button" class="no-a-style flex1 bg-dark"
                (click)="showConfirmNewRom=false"
              >
                CANCEL
              </a>
      
              <a type="button" class="no-a-style flex1 bg-balanced"
                [routerLink]="emulator.xml.details.emuname + '/' + search.toUpperCase().split(' ').join('_')"
                [queryParams]="{new:true}"
              >
                CONFIRM
              </a>
            </div>
          </div>
        </ack-modal>
      </ng-container>
    </ng-container>
  </div>
</div>

<br />
<ul class="opacity-half text-xs">
  <li>Above functionality is driven by LEDBlinkyControls.xml</li>
  <li>
    <a href="https://www.youtube.com/watch?v=29QG7Bd9mKw&t=1s" target="_blank"
      class="no-a-style"
    >📺 Watch to learn more about <u>original LEDBlinky</u> control editing</a>
  </li>
  <li>When video for this software is produced, we will link here</li>
</ul>


<ng-template #romLink let-rom="rom" let-emu="emu" let-show="show">
  <a class="no-a-style border hover-bg-calm bg-black"
    [routerLink]="emu.xml.details.emuname + '/' + rom.groupName" [queryParams]="{unknownMode: unknownMode$ | async}"
    [ngClass]="showMaps ? 'flex3' : 'flex1'"
  >
    <ng-container *ngIf="!showMaps;else mapTemplate">
      {{ rom.voice || rom.groupName }}
    </ng-container>
    <ng-template #mapTemplate>
      <rom-display *ngIf="show"
        urlRelativeToLedBlinkyRoot='../'
        [romControl] = "rom.controlGroups[0]"
        [romControlLights$] = "rom.controlGroups[0].romControlLights$"
  
        [zoom]="1"
        [emulator] = "emu"
        [allControls] = "session.ledBlinky.controls$ | async"
        [debug]="false"
        [layoutOnly]="true"
        [externalFeatures]="false"
        [interactive]="false"
      ></rom-display>
    </ng-template>
  </a>
</ng-template>

<ng-template #emulatorButton let-emu let-selected="selected" let-show="show">
  <a class="border hover-bg-calm pos-rel no-a-style pad-left-xs pad-v-xs pad-right-2x flex2"
    [routerLink]="selected ? './' : emu.xml.details.emuname" [class.flex1]="selected"
    [ngClass]="{'bg-energized':selected,'bg-black':!selected, 'flex-1':!showMaps, flex3:showMaps}"
    (click)="emulator$.next( selected ? undefined : emu )"
  >
    <span *ngIf="!showMaps || (emulator$ | async);else mapTemplate">
      {{ emu.xml.details.emuname }}
      <sup *ngIf="emu.controlGroups.length > 1"
        class="text-xxs opacity-80 pad-xxs pos-abs top-0 right-0"
      >{{emu.controlGroups.length }}</sup>
    </span>

    <ng-template #mapTemplate>
      <rom-display *ngIf="(selected || show) && (emu.defaultControls$ | async) as defaultControls"
        urlRelativeToLedBlinkyRoot='../'
        [romControl] = "$any(defaultControls)"
        [romControlLights$] = "$any(defaultControls).romControlLights$"
  
        [zoom]="1"
        [emulator] = "emu"
        [allControls] = "session.ledBlinky.controls$ | async"
        [debug]="false"
        [layoutOnly]="true"
        [externalFeatures]="false"
        [interactive]="false"
      ></rom-display>
    </ng-template>
  </a>
</ng-template>

<dialog id="newEmulatorModal" style="padding:0"
  onclick="var r = this.getBoundingClientRect();(r.top<=event.clientY&&event.clientY<=r.top+r.height&&r.left<=event.clientX&&event.clientX<=r.left+r.width) || this.close()"
  ondragstart="const {e,dt,t} = {t:this,e:event,dt:event.dataTransfer};const d=t.drag=t.drag||{x:0,y:0};d.initX=d.x;d.startX=event.clientX-t.offsetLeft;d.startY=event.clientY-t.offsetTop;t.ondragover=e.target.ondragover=(e)=>e.preventDefault();dt.effectAllowed='move';dt.dropEffect='move'"
  ondrag="const {t,e,dt,d}={e:event,dt:event.dataTransfer,d:this.drag}; if(e.clientX===0) return;d.x = d.x + e.offsetX - d.startX; d.y = d.y + e.offsetY - d.startY; this.style.left = `${d.x}px`; this.style.top = `${d.y}px`;"
  ondragend="const {t,e,d}={t:this,e:event,d:this.drag};if (d.initX === d.x) {d.x=d.x+e.offsetX-(d.startX-d.x);d.y=d.y+e.offsetY-(d.startY-d.y);this.style.transform=`translate3d(${d.x}px, ${d.y}px, 0)`};this.draggable=false"
>
  <div style="min-width: 40vw;"></div>
  <div style="padding:.25em" onmousedown="this.parentNode.draggable=true" class="bg-dark text-white"
  ><h2>Create New Emulator</h2></div>
  
  <div class="flex-wrap gap pad">
    <div class="flex1">
      <div>
        <strong>Emulator Name</strong>
      </div>
      <input type="text" class="width-full"
        [(ngModel)]="newEmulater.emuname"
        (ngModelChange)="newEmulater.emuname = newEmulater.emuname.replace(' ', '_')"
        maxlength="80"
      />
    </div>
    <div class="flex1">
      <div>
        <strong>Description</strong>
      </div>
      <input type="text" class="width-full"
        [(ngModel)]="newEmulater.emuDesc" maxlength="200"
      />
    </div>
  </div>

  <br />
  
  <div class="flex-wrap gap-xxs">
    <button *ngIf="newEmulater.emuname" [@fadeInOutUp]="1" class="flex1 bg-balanced" type="button"
      (click)="createNewEmulator()"
    >🆕 create</button>

    <button class="flex1 bg-dark" type="button"
      onclick="newEmulatorModal.close()"
    >🅧 close</button>    
  </div>
</dialog>

<dialog id="createRomDialog"
  onclick="var r = this.getBoundingClientRect();(r.top<=event.clientY&&event.clientY<=r.top+r.height&&r.left<=event.clientX&&event.clientX<=r.left+r.width) || this.close()"
>
  <ng-container *ngIf="emulator$ | async as emulator">
    <div style="min-width: 40vw;"></div>
    <h2>Create New {{ emulator.xml.details.emuname }} ROM</h2>

    <div class="flex-wrap gap">
      <div class="flex1">
        <div>
          <strong>Control Group / ROM Name</strong>
        </div>
        <input type="text" class="width-full"
          [(ngModel)]="newRom.groupName"
          (ngModelChange)="newRom.groupName = newRom.groupName.replace(' ', '_')"
          maxlength="80"
        />
        <div>
          <input type="checkbox" name="useDefault" id="useDefault" [checked]="newRom.groupName.toUpperCase()==='DEFAULT'"
            (click)="newRom.groupName = newRom.groupName.toUpperCase() === 'DEFAULT' ? '' : 'DEFAULT'"
          />
          <label for="useDefault"
            title="When checked, this new ROM will be the Emulator base light configuration for games that do not have light configurations"
          >DEFAULT</label>
        </div>
      </div>
    </div>

    <br />

    <div class="flex-wrap gap-xxs">
      <a type="button" *ngIf="newRom.groupName" [@fadeInOutUp]="1" class="flex1 bg-balanced" type="button"
        [routerLink]="emulator.xml.details.emuname + '/' + newRom.groupName"
        [queryParams]="{new:true}"
      >🆕 create</a>

      <button class="flex1 bg-dark" type="button"
        onclick="createRomDialog.close()"
      >🅧 close</button>    
    </div>
  </ng-container>
</dialog>
