<select-ledblinky-directory></select-ledblinky-directory>

<br />

<div *ngIf="session.ledBlinky.directory$ | async" [@fadeInOutUp]="1">
  <div class="flex-wrap gap">
    <div class="flex-valign-center pos-rel flex1">
      <span class="pad-xs">🔎</span>
      <input type="text"
        [ngModel]="search$ | async"
        (ngModelChange)="newSearch($event)"
        class="width-full"
        placeholder="Search emulators and roms"
        [focusOn]="1"
      />
      <div *ngIf="search$ | async" [@fadeInOutUp]="1" class="pos-abs right-0 pad-right-xxs">
        <a (click)="newSearch('')" class="text-black text-2x">🅧</a>
      </div>
    </div>

    <div>
      <button type="submit" (click)="this.unknownMode$.next( !this.unknownMode$.getValue() )">
        {{ (unknownMode$ | async) ? '☑️' : '◻️' }}&nbsp;
        🤨 Unknown Games Mode
      </button>
    </div>
  </div>
  
  <br />
  
  <div class="flex-wrap gap">
    <!-- select emulator -->
    <div class="pad-xs" [class.bg-dark]="session.ledBlinky.emulator$ | async">
      <div>
        <strong>{{ (session.ledBlinky.emulator$ | async) ? 'Emulator' : 'Emulators' }}</strong>
      </div>
      <div class="flex-wrap gap pad-top flex1">
        <!-- show selected emulator -->
        <div *ngIf="(session.ledBlinky.emulator$ | async) as emulator" class="flex-wrap flex-1">
          <ng-container *ngTemplateOutlet="emulatorButton;context:{$implicit:emulator, selected: 1}"></ng-container>
        </div>
    
        <!-- show list of emulators -->
        <div *ngIf="!(session.ledBlinky.emulator$ | async)" class="gap child-pad-xs pad-top overflow flex-wrap flex1"
          [style.max-height.vh]="80"
        >
          <ng-container *ngFor="let emu of (filteredEmulators$ | async)">
            <ng-container *ngTemplateOutlet="emulatorButton;context:{$implicit:emu}"></ng-container>
          </ng-container>
        </div>
      
      </div>
    </div>
    
    <!-- select controlGroup -->
    <div *ngIf="(roms$ | async) as emulator" [@fadeInOutUp]="1"
      class="bg-dark pad-xs flex1"
    >
      <div>
        <strong>ROMs</strong>
        <sup><small>&nbsp;{{ emulator.controlGroups.length }}</small></sup>
      </div>
      <div class="flex1 flex-wrap pad-top">
        <div class="flex-1 flex-wrap gap child-pad-xs"
          [@childStag50]="emulator.controlGroups"
        >
          <ng-container *ngFor="let item of emulator.controlGroups">
            <ng-container *ngTemplateOutlet="romLink;context:{rom:item, emu: emulator}"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #romLink let-rom="rom" let-emu="emu">
  <a class="no-a-style border hover-bg-calm flex1 bg-black" [@fadeInOutUp]="1"
    [routerLink]="emu.details.emuname + '/' + rom.groupName"
    [queryParams]="{unknownMode: unknownMode$ | async}"
  >{{ rom.voice || rom.groupName }}</a>
</ng-template>

<ng-template #emulatorButton let-emu let-selected="selected">
  <a 
    class="border hover-bg-calm pos-rel flex2 pad-xs pad-right no-a-style"
    [routerLink]="selected ? './' : emu.details.emuname"
    [class.flex1]="selected"
    [ngClass]="selected ? 'bg-energized' : 'bg-black'"
    (click)="session.ledBlinky.emulator$.next( selected ? undefined : emu )"
  >
    {{ emu.details.emuname }}
    <sup *ngIf="emu.controlGroups.length > 1" class="opacity-80 pad-xxs pos-abs top-0 right-0"
    >{{ emu.controlGroups.length }}</sup>
  </a>
</ng-template>
