<ng-container *ngIf="session.ledBlinky.directory$ | async; else selectDirectory">
  <ng-container *ngTemplateOutlet="main"></ng-container>
</ng-container>

<ng-template #selectDirectory>
  <div class="text-right">
    <select-ledblinky-directory></select-ledblinky-directory>
  </div>
</ng-template>

<ng-template #main>
  <!-- new rom default detected -->
  <ng-container *ngIf="confirmDefaultEmu; else romDisplay">
    <div class="bg-energized text-black">
      <h2>New ROM, start with default layout?</h2>
    </div>
    <p>🤔 Would you like to start with the light config seen below?</p>

    <!-- [playersControls] = "confirmDefaultEmu.defaultEmu.controlGroups[0]" -->
    <ledblinky-controls-layouts #ledblinkyLayouts class="flex3 overflow"
      [interactive]     = "false"
      widthFull         = "true"
      [romControlLights$] = "confirmDefaultEmu.defaultEmu.controlGroups[0].romControlLights$"
    ></ledblinky-controls-layouts>

    <div class="flex">
      <button type="button" class="flex1 bg-royal radius-right-0" (click)="confirmToUseDefaultEmu(false)"
      >🆕 START BLANK</button>
      <button type="button" class="flex1 radius-left-0" (click)="confirmToUseDefaultEmu(true)"
      >📋 START WITH ABOVE</button>
    </div>
  </ng-container>

  <ng-template #loadIcon>
    <loading-icon show="1"></loading-icon>
  </ng-template>

  <ng-template #romDisplay>
    <ng-container *ngIf="(romControl$ | async) as romControl; else loadIcon">
      <div *ngIf="romNotFound;else emulatorShow" class="bg-dark text-white pad">
        🤷 ROM NOT FOUND
        <div class="text-center flex-wrap gap pad">
          <button *ngIf="romControl.emulator"
            type="button" class="flex1"
            (click)="romNotFound=undefined;loadDefaultLayoutByRom(romControl)"
          >
            ✚ Add "{{ romControl.xml.details.groupName }}" as a new ROM
          </button>
                
          <a type="button" class="flex1 bg-black"
            routerLink="../"
            [queryParams]="{search: romControl.xml.details.groupName}"
          >🔎 back to search</a>
        </div>
      </div>

      <ng-template #emulatorShow>
        <ng-container *ngIf="(allControls$ | async) as emulator; else loadIcon">
          <rom-display
            urlRelativeToLedBlinkyRoot='../../../'
            [romControl] = "romControl"
            [romControlLights$] = "romControl.romControlLights$"
            
            [emulator] = "emulator.emulator"
            (changed) = "session.ledBlinky.saveControls()"
            (changedControl) = "updateDetailsByCodes($any($event), emulator)"
          ></rom-display>
        </ng-container>
      </ng-template>
    </ng-container>
  </ng-template>
</ng-template>
