<div class="flex-right flex-wrap gap">
  <!--class="flex1 flex"-->
  <robust-select-directory label="🚦 LEDBlinky"
    [reloadPath]="session.config.ledBlinky.path"
    [directoryManager]="$any(session.ledBlinky.directory$ | async)"
    (directoryManagerChange)="session.checkFileStreamingSupport();session.saveStorage();session.ledBlinky.directoryChange.next($event)"
    (error)="session.error('could not load LEDBlinky path', $event)"
    [pickerId]="session.ledBlinky.pickerId"
  ></robust-select-directory>

  <!--
  <robust-select-directory label="👾 MAME" class="flex1 flex"
    [reloadPath]="session.config.mame.path"
    [(directoryManager)]="session.mame.directory"
    (directoryManagerChange)="session.checkFileStreamingSupport();session.saveStorage();"
    (error)="session.error('could not load mame path', $event)"
    [pickerId]="session.mame.pickerId"
  ></robust-select-directory>
  -->

  <robust-select-directory
    *ngIf="showSelectLaunchBox" [@fadeInOutUp]="1"
    class="flex"
    label="🧰 LaunchBox" pickerId="LaunchBox"
    [reloadPath]="session.config.launchBox.path"
    [directoryManager]="$any(session.launchBox.directory$ | async)"
    (directoryManagerChange)="session.checkFileStreamingSupport();session.launchBox.directoryChange.next($event)"
    (error)="session.error('could not load LaunchBox path', $event)"
  ></robust-select-directory>
</div>

<div *ngIf="!(session.ledBlinky.directory$ | async)" [@fadeInOutUp]="1">
  <br />
  <div class="text-center opacity-80">
    PRO TIP: If you have 🧰 LaunchBox,&nbsp;
    <a class="underline"
      (click)="showSelectLaunchBox = !showSelectLaunchBox"
    >select that folder</a> instead
  </div>
</div>

<div *ngIf="!(session.ledBlinky.directory$ | async)" [@fadeInOutUp]="1">
  <details class="pad">
    <summary>📁 read more about this app and what it does with folder access</summary>
    <div class="flex-center">
      <div class="bg-dark pad text-left" style="max-width: 1200px;">
        <p>
          Once you select your LEDBlinky folder, files will be read to offer helpful support.
        </p>      
        <p>Such support features include:</p>
        <ul>
          <li>Game controls searching</li>
          <li>Game controls visual assistance maps</li>
          <li>and more...</li>
        </ul>
        <p>Features not yet supported or not fully supplort:</p>
        <ul>
          <li>Animation editing. Currently, not at all supported. Existing LEDBlinky app does a pretty nice job, no need to reinvent wheel here (just yet).</li>
          <li>Live previewing of lights. Being consider for implementation in a native web app.</li>
          <li>Editing Input Maps is not as fully functionally helpful as it should be. Currently, you have to know the values you are working with as opposed to selecting them.</li>
        </ul>            
      </div>
    </div>
  </details>
</div>
