<robust-select-directory label="LaunchBox" [reloadPath]="session.config.launchBox.path"
  (directoryManagerChange)="session.save();readDir($event)"
  (error)="session.error('could not load LaunchBox path', $event)"
></robust-select-directory>

<div *ngIf="!bigBox.config">
  <br />
  <div class="text-center">
    ⬆️ Select LaunchBox folder above to unlock features below ⬇️
    <br /><br />
    <a class="text-xs bg-positive pad-h pad-v-xs"
      (click)="bigBox.viewLaunchBoxMoreInfo = !bigBox.viewLaunchBoxMoreInfo"
    >ℹ️ more info</a>
  </div>
  <p *ngIf="bigBox.viewLaunchBoxMoreInfo" class="bg-positive pad">
    ℹ️ When you select your LaunchBox folder, settings files will be read to offer features.
    <br /><br />
    Such features include:
    <li>Prevent BigBox wheel from disappearing</li>
    <li>and more...</li>
  </p>
</div>

<ng-container *ngIf="bigBox.fileSettings.length">
  <h3>Platform settings</h3>
  <hr class="border-1 border-white" />
  
  <div class="flex-wrap child-margin-xs">
    <div *ngFor="let fileConfig of bigBox.fileSettings" class="flex1">
      **{{ fileConfig.file.name }}**
      <div class="flex-wrap">
        <div *ngFor="let setting of fileConfig.settings" class="flex flex1">
          <div class="pad-right flex-1">
            <strong>{{ setting.label }} </strong> -
            <span class="inline-block" style="width:3em">
              {{ setting.value }}
            </span>
            <div>
              <input type="range" min="0" max="1" step="0.01" [(ngModel)]="setting.value"
                class="width-full"
                (change)="configHasChanges = true"
              />
            </div>
          </div>
          <img *ngIf="setting.type === 'pointer:opacity'" src="assets/BigBoxWheelPointer.png" alt=""
            style="height:4rem"
            [style.opacity]="setting.value" border="0"
          />
          <img *ngIf="setting.type === 'wheel:opacity'" src="assets/BigBoxGameWheel.png" alt=""
            style="height:4rem"
            [style.opacity]="setting.value" border="0"
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="bigBox.config" class="flex-wrap child-margin-xxs">
  <button type="button" class="flex1"
    (click)="bigBox.viewBigBoxSettings = !bigBox.viewBigBoxSettings"
    [class.bg-energized] = "bigBox.viewBigBoxSettings"
  >⚙️ view BigBox settings</button>

  <button type="button" *ngIf="configHasChanges" class="bg-balanced flex1"
    (click)="saveFiles()"
    [class.bg-energized] = "bigBox.viewBigBoxSettings"
  >💾 save changes</button>
</div>  

<div *ngIf="bigBox.viewBigBoxSettings">
  <strong>bigBox.config</strong>
  <div>
    <textarea readonly class="width-full min-height-400" wrap="off">{{ bigBox.config }}</textarea>
  </div>
</div>
