<div class="text-white margin-bottom text-center">
  🛠 Tools to assist maintaining emulation software
  <div class="text-xs opacity-80">
    (mostly tailored for&nbsp;
    <a class="nowrap text-info"
      href="https://extremehomearcades.com/" style="color:#07e843"
      target="_blank"
      (click)="openAnchor($event)"
    >Extreme Home Arcade</a> owners)
  </div>
</div>

<div>
  <div class="text-center text-xs opacity-half">choose a tool below</div>
  
  <div class="flex-stacked child-margin-xxs child-pad text-lg max-width-900">
    <a class="bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
      routerLinkActive="bg-energized"
      routerLink="/launch-box"
    >🧰&nbsp;&nbsp;LaunchBox tools</a>
    
    <a class="bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
      routerLinkActive="bg-energized"
      routerLink="/debug-report"
    >🐞&nbsp;&nbsp;Debug Report</a>
    
    <a class="bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
      routerLinkActive="bg-energized"
      routerLink="/xarcade-xinput"
    >🎮 ➡️ ⌨️&nbsp;&nbsp;XArcade XInput</a>

    <a class="bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
      routerLinkActive="bg-energized"
      routerLink="/inputs"
    >⌨️ 🎮 🕹&nbsp;&nbsp;Inputs</a>
    
    <!-- The page for this lives within Launchbox
      <a class="bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
        routerLinkActive="bg-energized"
        routerLink="/config"
      >⚙️ configuration</a>
    --->
  </div>
</div>
