<div class="flex-1 flex-stacked child-margin-xxs child-pad text-lg max-width-900">
  <ng-container *ngFor="let item of menu">
    <a class="flex bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
      routerLinkActive="bg-energized"
      [routerLink]="'/' + item.path"
    >
      <span class="pos-rel">
        &nbsp;
        <span class="pos-abs top-0 nowrap">
          {{ $any(item.data)['emoji'] || '&nbsp;' }}
        </span>
      </span>
      <span class="flex-1 text-center pad-h-2x">
        {{ item.title || $any(item.data)['title'] | titlecase }}
      </span>
    </a>
  </ng-container>
  
  <!-- The page for this lives within Launchbox
    <a class="bg-black no-a-style flex-1 border radius-10 hover-bg-energized"
      routerLinkActive="bg-energized"
      routerLink="/config"
    >⚙️ configuration</a>
  --->
</div>
