<div class="text-center">
  <robust-select-directory label="XArcade XInput" [reloadPath]="session.config.xarcadeXinput.path"
    (directoryManagerChange)="session.save();readDir($event)"
    (error)="session.error('could not load XArcade XInput path', $event)"
    [pickerId]="xarcadeXinputPickerId"
  ></robust-select-directory>
</div>

<div *ngIf="!xarcade.mappingFileNames.length">
  <br />
  <div class="text-center pad">
    ⬆️ Select XArcade XInput folder above to unlock supportive features
  </div>
  <details class="pad">
    <summary>read more about this app and file access</summary>
    <div class="bg-dark pad">
      <p>
        Once you have selected your XArcade XInput folder, settings files will be read to offer supportive features.
      </p>
      Such support features include:
      <ul>
        <li>A robust controller mapping interface</li>
        <li>Add, edit, remove mappings</li>
        <li>and more...</li>
      </ul>
    </div>
  </details>
</div>

<ng-container *ngIf="xarcade.mappingFileNames.length">
  <h3>Mapping files</h3>
  <p>Choose a file to work with below...</p>
  <hr class="border-1 border-white" />
  <div class="flex-stacked child-margin-xxs">
    <ng-container *ngFor="let fileName of xarcade.mappingFileNames; let index=index">
      <a class="text-white"
        [routerLink]="'mapping/' + fileName"
      >📄 {{ fileName }}</a>
    </ng-container>
  </div>
</ng-container>

<br />

<div class="flex-wrap child-margin-xxs">
  <a *ngIf="session.launchBoxDirectory && session.launchBoxXarcadeDir === session.xarcadeDirectory"
    class="flex-1" type="button" routerLink="/launchbox"
  >🧰 LaunchBox</a>
  
  <button type="button" *ngIf="configHasChanges" class="bg-balanced flex1 active-bg-energized"
    (click)="saveFiles()"
  >💾 save changes</button>
</div>

<br />

<div class="text-center child-margin-xs pad">
  <div class="opacity-80 text-xs">🔗 helpful links</div>
  <a href="https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.keys"
    (click)="openAnchor($event)" target="_blank" class="text-white underline"
  >Windows keys</a>

  <a href="https://github.com/mikew/xarcade-xinput"
    (click)="openAnchor($event)" target="_blank" class="text-white underline"
  >XArcade XInput</a>
</div>
