<!-- last key -->

<div class="flex child-margin-1" style="min-width: 98vw;">
  <div class="flex-stacked">
    <label for="keyboardTestingArea">⌨️ Keyboard testing</label>
    <div class="bg-grey pad-xs flex-1">

      <input type="text" id="keyboardTestingArea" placeholder="place cursor here to lock"
        (keyup)="$event.preventDefault()" (keydown)="$event.preventDefault()"
        class="width-full"
      />
      
      <h2>Currently pressed</h2>
      <div class="flex">
        <ng-container *ngTemplateOutlet="table;context:{pressed:pressed}"></ng-container>
      </div>
      
      <ng-container *ngIf="lastPresses.pastPressArray.length">
        <h2>Last {{ lastPresses.pastPressArray.length }} pressed</h2>
        <div class="text-xs flex">
          <ng-container *ngTemplateOutlet="table;context:{pressed:lastPresses.pastPressArray}"></ng-container>
        </div>
      </ng-container>
  
      <!--
        <button (click)="viewButtonMap = !viewButtonMap"
          [class.active]="viewButtonMap" type="button" class="width-full flex1"
        >🗺 view all mappings</button>
      -->
    </div>
  </div>

  <div class="flex-stacked flex-1">
    <div class="flex-apart">
      <label for="keyboardTestingArea">🗺 Mapping Results</label>
      <div>
        <select (change)="platformFilter = $any($event.target).value">
          <option value="" [selected]="!platformFilter">Match all platforms...</option>
          <option *ngFor="let item of this.session.platforms.images" [value]="item.label"
            [selected]="platformFilter === item.label"
          >{{item.label}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="!platformPressed.length" class="bg-grey opacity-80 height-full flex-valign-center border flex-center width-full">
      <div class="text-center">
        <h3>Press any key...</h3>
        <a routerLink="../keyboard" class="text-xxs text-white">edit mappings</a>
      </div>
    </div>
    <div class="flex-center flex-1 bg-grey">
      <div>
        <div class="flex-wrap flex-evenly child-margin-1">
          <ng-container *ngFor="let platformPress of platformPressed">
            <div class="flex1 border" *ngFor="let playerPress of platformPress.playerPresses">
              <div class="pad-xxs bg-black text-center text-smx"
              >{{platformPress.platform.label}} Player {{ playerPress.playerIndex + 1 }}</div>
              <div class="flex-center">
                <platform-control-map
                  [platform]        = "platformPress.platform"
                  [playerIndex]     = "playerPress.playerIndex"
                  [controllerSize]  = "10"
                  [pressedObject]   = "playerPress.pressedObject"
                ></platform-control-map>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<details class="pad">
  <summary>view full map</summary>
  <br />
  <!--<textarea cols="60" rows="12" wrap="off">{{ keysMapped | json }}</textarea>-->
  <div class="flex-wrap child-margin-xxs">
    <ng-container *ngFor="let pressed of keysMapped">
        <ng-container *ngTemplateOutlet="table;context:{pressed:pressed}"></ng-container>
    </ng-container>
  </div>
</details>
			

<!--
  <div *ngIf="viewButtonMap">
    <textarea readonly class="width-full min-height-400" wrap="off"
    >{{ controlMap | json }}</textarea>
  </div>
-->


<ng-template #table let-pressed="pressed">
  <table cellPadding="4" cellSpacing="0" border="0" class="flex2 bg-dark table-lines table-lines-grey">
    <thead>
      <tr>
        <th>code</th>
        <th>key</th>
        <!--<th>which</th>-->
        <th class="text-left">mappings</th>
      </tr>
    </thead>
    <tbody class="bg-black">
      <tr *ngIf="!pressed.length">
        <td></td>
        <td></td>
        <!--<td></td>-->
        <td class="text-xs">
          <ul class="invisible">
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
        </td>
      </tr>
      <tr *ngFor="let lastPress of $any(pressed)">
        <td class="text-center">{{ lastPress.code }}</td>
        <td class="text-center">{{ lastPress.key }}</td>
        <td class="text-xxs">
          <ul *ngIf="lastPress.mappings" class="pad-v-0 margin-v-0 pad-left-2x">
            <ng-container *ngTemplateOutlet="mappings;context:{ mappings: lastPress.mappings}"></ng-container>
          </ul>    
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #mappings let-mappings="mappings">
  <div *ngIf="mappings.length === 1">
    <a [href]="'/🕹/platforms/' + mappings[0].platform.label + '?playerIndex=' + mappings[0].playerIndex" class="no-a-style">
      {{ mappings[0].control.emoji }} {{ mappings[0].platform.label }} P{{ mappings[0].playerIndex + 1 }} {{ mappings[0].control.label }}
    </a>
  </div>
  <details *ngIf="mappings.length > 1">
    <summary>
      {{ mappings.length }} mappings
      <!--{{ mappings[0].control.emoji }} {{ mappings[0].platform.label }} P{{ mappings[0].playerIndex + 1 }} {{mappings[0].control.label}}-->
      <ng-container *ngFor="let map of mappings">&nbsp;{{ map.control.emoji }}</ng-container>
    </summary>
    <br />   
    <li *ngFor="let map of mappings">
      <a [href]="'/🕹/platforms/' + map.platform.label + '?playerIndex=' + map.playerIndex" class="no-a-style">
        {{ map.control.emoji }} {{ map.platform.label }} P{{ map.playerIndex + 1 }} {{map.control.label}}
      </a>
    </li>
  </details>
</ng-template>